body {
  margin: 0;
  background: black;
  font-family: Arial;
  overflow: hidden;
}

/* ESCONDER SITE */
.hidden {
  display: none;
}

/* TELA DE ENTRADA */
#enter {
  position: fixed;
  inset: 0;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: cyan;
  z-index: 999;
  cursor: pointer;
}

/* LAYOUT */
.layout {
  display: flex;
  height: 100vh;
}

/* ESQUERDA */
.left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: cyan;
  font-size: 3rem;
}

/* DIREITA */
.right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CARD */
.card {
  border: 1px solid cyan;
  padding: 30px;
  text-align: center;
  box-shadow: 0 0 30px cyan;
}

.card img {
  width: 120px;
  border-radius: 50%;
  border: 3px solid cyan;
}

.status-box {
  margin-top: 20px;
  border-top: 1px solid cyan;
  padding-top: 10px;
}